@font-face {
	font-family: Montserrat;
	src: url('/fonts/montserrat.ttf');
}

@font-face {
	font-family: Oswald;
	src: url('/fonts/oswald.ttf');
}

.mont {
	font-family: Montserrat, 'Arial', sans-serif;
}

.oswald {
	font-family: Oswald, 'Arial', sans-serif;
}

.header {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 400px;
}

.header h1 {
	font-size: 100px;
}

.home-bg h1 {
	font-size: 144px;
}

.no-webp .header.home-bg {
	background-image: url('/images/index/home-bg.jpg');
}
.webp .header.home-bg {
	background-image: url('/images/index/home-bg.webp');
}

.no-webp .header.recipe-bg {
	background-image: url('/images/recipes/recipe-bg.jpg');
}
.webp .header.recipe-bg {
	background-image: url('/images/recipes/recipe-bg.webp');
}

.no-webp .header.about-bg {
	background-image: url('/images/about/about-bg.jpg');
}
.webp .header.about-bg {
	background-image: url('/images/about/about-bg.webp');
}

.content-image {
	min-width: 40vw;
}

#editor {
	height: 150px;
}

/*Star Rating*/
input.rating[type="radio"] {
	-webkit-appearance: none!important;
	-moz-appearance: none!important;
	appearance: none!important;
}

input.rating[type="radio"]:checked + label::before {
	font: var(--fa-font-solid);
}

.star-rating:hover label::before {
	font: var(--fa-font-solid) !important;
	content: '\f005';
}

.star-rating:has(input[type="radio"]:checked) label::before {
	font: var(--fa-font-solid);
	content: '\f005';
}

input.rating[type="radio"]:hover + label ~ label::before,
label.rating-star:hover ~ label::before {
	font: var(--fa-font-regular) !important;
	content: '\f005';
}

input.rating[type="radio"]:checked + label ~ label::before {
	font: var(--fa-font-regular);
	content: '\f005';
}

label.rating-star::before {
	font: var(--fa-font-regular);
	content: '\f005';
}

label.rating-star {
	font-size: 36px!important;
	margin: 0 -8px;
	padding: 0 3px;
}

.star-rating:has(input:invalid:focus)::after {
	content: 'A star rating is required';
	margin-left: 10px;
	color: red;
}
/*End Star Rating*/

@media print {
	#recipe-section {
		border: none !important;
		box-shadow: none !important;
		background: none !important;
	}

	#recipe-section img {
		width: 200px !important;
		height: auto !important;
	}

	#recipe-section p, #recipe-section li {
		font-size: 16px !important;
		color: black !important;
		margin: 0;
	}

	#recipe-section h3, #recipe-section h4 {
		color: black !important;
	}
}

@media screen and (max-width: 767px) {

	.no-webp .header.home-bg {
		background-image: url('/images/index/home-bg-sm.jpg');
	}
	.webp .header.home-bg {
		background-image: url('/images/index/home-bg-sm.webp');
	}

	.no-webp .header.recipe-bg {
		background-image: url('/images/recipes/recipe-bg-sm.jpg');
	}
	.webp .header.recipe-bg {
		background-image: url('/images/recipes/recipe-bg-sm.webp');
	}

	.no-webp .header.about-bg {
		background-image: url('/images/about/about-bg-sm.jpg');
	}
	.webp .header.about-bg {
		background-image: url('/images/about/about-bg-sm.webp');
	}

	.header h1, .home-bg h1 {
		font-size: 72px;
	}
}

